.post {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  margin: 10px 0;
  padding: 5px;
  border: 2px solid var(--border-color);
  cursor: pointer;
}

.post h5 {
  margin-right: 10px;
  font-size: 0.9rem;
  line-height: 0.9rem;
  width: 120px;
}

.post img {
  width: 100px;
  height: 75px;
  border-radius: var(--border-radius);
  margin-left: 30px;
}
.post div {
  width: 100%;
}
.post p {
  font-size: 0.9rem;
  line-height: 0.9rem;
}
.post .price {
  width: 150px;
  text-align: center;
}

.post span {
  font-size: 0.8rem;
  color: gray;
}
@media screen and (max-width: 450px) {
  .post {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .post h5 {
    margin: 5px auto;
    width: 100%;
  }
  .post img {
    margin: 5px auto;
  }
}
