.form h3 {
  margin-bottom: 30px;
  border-bottom: 3px solid #a62626;
  width: fit-content;
  padding-bottom: 5px;
}

.form input {
  display: block;
  width: 300px;
  margin-bottom: 30px;
}
.form select {
  display: block;
  width: 300px;
  margin-bottom: 30px;
}
.form select option img {
  display: block;
  width: 10px;
}
.form p {
  display: block;
  width: 300px;
  margin-bottom: 20px;
  color: var(--white);
  padding: 5px;
  text-align: center;
  border-radius: var(--border-radius);
}
.error {
  background-color: var(--primary);
}
.success {
  background-color: var(--success);
}
