.form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  border: 1px solid silver;
  border-radius: var(--border-radius);
  padding: 30px;
}

.form button {
  width: 120px;
  margin-bottom: 30px;
}

.outlined {
  width: 170px !important;
}
